<a href="https://colab.research.google.com/github/ogut77/DataScience/blob/main/Homework1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
#Q1-Get your name and age as input and print it in the form like
#Your name is Hulisi. Your age is 43
name=input('What is your name? ')
age=input('What is your age? ')
print(f'Your name is {name}. Your age is {age}')

What is your name? Yagut
What is your age? 21
Your name is Yagut. Your age is 21

In [5]:
#Q2-Write a if statement for a given two number is equal or not
a=43
b=54
if a==b:
  print("a and b are equal")
else:
  print("a and b are not equal")

a and b are not equal

In [99]:
#Q3-Write a if statement for first number is greater (a), equal or less than second number.(b)
a=43
b=54
if a>b:
  # (a)
  print('a is greater than b')
else:
  # (b)
  print('a is equal or less than b')

a is equal or less than b

In [9]:
#Q4- Using for loop, print 1,2,3,4,5
for k in range(1,6):
  print(k)

1
2
3
4
5

In [15]:
#Q5-Using while loop, print 5,4,3,2,1
x = 5
while x>0:
  print(x)
  x -= 1

5
4
3
2
1

In [96]:
#Q6- Using for loop, print 10,6,4,2,0
#Hint Print if number is not equal to 8.
print("Solution 1")
for k in range(0,11):
  num=10-k
  if num%2==0 and num!=8:
    print(num)

print()
print("Solution 2")
for k in range(10,-1,-2):
  if k!=8:
    print(k)

Solution 1
10
6
4
2
0

Solution 2
10
6
4
2
0

In [51]:
#Q7-Write a method to calculate age for a given date of birth year.
#Use this method on orer to calculate age of person if date of birth is 1944
# if age is the name of function, print(age(1944))
def age(year):
  return 2025 - year

print(age(1944))

81

In [60]:
#Q8-Write a class named arithmetic with method for calculating addition, substraction, multiplication and division of two numbers.
class arithmetic:
  def addition(x,y):
    return x+y

  def substraction(x,y):
    return x-y

  def multiplication(x,y):
    return x*y

  def division(x,y):
    return x/y

print(arithmetic.addition(3,4))
print(arithmetic.substraction(3,4))
print(arithmetic.multiplication(3,4))
print(arithmetic.division(3,4))

7
-1
12
0.75

In [95]:
#Q9- write a for loop or method  to calculate summation of first n numbers
#i.e if n=3, it will print or return 6 (1+2+3)
print('Solution 1')
def sum_of_n1(n):
  x = 0
  for k in range(1,n+1):
    x+=k
  return x
print(sum_of_n1(3))

print()
print('Solution 2')
def sum_of_n2(n):
  return int(n*(n+1)/2)
print(sum_of_n2(5))

Solution 1
6

Solution 2
15

In [98]:
#Q10-Generate 10 numbers between 0 and 1 and add into list. Print first three elements of that list.
from numpy import random

list1=[]
for k in range(0,10):
  list1.append(random.rand())

print(list1)
print(list1[0:3])

[0.6632685348824647, 0.3441354099172437, 0.31222812278092316, 0.8964825950962295, 0.36650701585505285, 0.7021015006600057, 0.9089566251582646, 0.75167572528767, 0.0877003706339109, 0.717983065920101]
[0.6632685348824647, 0.3441354099172437, 0.31222812278092316]

In [93]:
#Q11-For a given number n, print numbers divisible by 3 up to that number(n included)
#Example: if n=15, print 3,6,9,12,15
#Hint you can use modulus statement (if (i%3==0))
def div(n):
  for k in range(1,n+1):
    if k%3==0:
      print(k)
div(15)

3
6
9
12
15